.msscreen {
    width: 100vw;
    height: 100vh;
}

.msscrn-container {
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.msscrn-container>:first-child {
    width: 100%;
    padding: 2em;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.milestonegroup {
    width: 100%;
    padding: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.donationBox {
    font-size: 100px;
    border: 10px solid black;
    width: 80%;
    text-align: center;
    /* overflow: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-tab-root {
    padding: 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid rgb(221, 221, 221);
}

.ms-screen-tab {
    font-size: 35px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    gap: 1em;
}

.ms-tab-completed {
    background-color: rgb(166, 255, 166);
    color: black;
    border: 5px solid green;
}

.completed-milestones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 5px;
}

#nexttext {
    font-size: 20px;
    color: white;
    background-color: rgb(74, 74, 255);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10%;
    max-height: 3em;
}

.adminscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}