.raffle-content {
    height: 100vh;
    width: 100vw;
    border-top: 4px solid black;
}

.grid-item {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    overflow: hidden;
    padding: 3em;
    cursor: pointer;
}

.grid-item:hover {
    border: 2px solid rgb(0, 0, 0);
    /* transition: 0.2s; */
}

.grid-item-taken {
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    overflow: hidden;
    padding: 3em;
    z-index: 2;
    color: rgb(89, 89, 89);
}

.raffleItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.raffleItem-taken {
    opacity: 0.2;
    z-index: 0;
}

.raffleItem>img {
    width: 40%;
    height: auto;
}

.raffleItem>span {
    font-size: 35px;
}

/* .grid-container>* {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    overflow: hidden;
    padding: 3em;
} */

.grid-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}