body {
  overflow: hidden;
}

.title>span {
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.title {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: white;
  color: black;
}

.teacup-root {
  width: 80%;
}

.teacup-main {
  position: absolute;
  width: 50%;
  left: auto;
  right: auto;
}

.feature {
  color: black;
}

.feature-content {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  gap: 20em;
  align-items: center;
  flex-direction: column;
}

.info-container {
  /* background-color: blue; */
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  gap: 2em;
}

.donation-container {
  margin-top: 5%;
  background-color: rgb(0, 182, 179);
  color: rgb(173, 255, 251);
  min-width: 20vw;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.donation-container>:first-child {
  font-size: 90px;
}

.donation-container>:nth-child(2) {
  font-size: 20px;
}

.milestone-container {
  /* background-color: blue; */
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  max-width: 20vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 5%;
  /* padding: 1em; */
  /* overflow-wrap: break-word; */
}

.milestone-container>.milestone {
  /* overflow-wrap: break-word; */
  /* overflow-x: hidden; */
  /* background-color: red; */
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.milestone-container>.progress {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.milestone-container>.progress>:first-child {
  font-size: 40px;
}

.milestone-container>.progress>:last-child {
  padding-bottom: 8px;
}

.container {
  background-color: rgb(217, 217, 217);
  padding-bottom: 10em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-previous {
  background-color: rgb(217, 217, 217);
  padding-bottom: 10em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  overflow: auto;
}

.teacup-container {
  /* padding: 5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-right: auto;
}

.teacup-container>img {
  width: 40%;
}

@keyframes avatar-movement {
  0% { height: 50% }
  50% { height: 30% }
  100% { height: 50% }
}

.avatar-container>.custom-avatar {
  width: 25%;
  height: auto;
  border: 4px solid white;
  position: relative;
  margin-bottom: 0%;
  z-index: 1;
}

.avatar-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 2px;
  height: 50%;
  width: 50%;
  margin-left: -12%;
  margin-bottom: 0;
  /* Moving animation */
  animation-name: avatar-movement; 
  animation-duration: 2s;
  animation-duration: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}

#theking {
  width: 80%;
}

.blankCup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}